    <footer class="site-head">
            <div class="footer__container">
                <div class="footer__col__main__wrapper">
                    <ul class="footer__col">
                        <li class="footer__col__wrapper">
                            <p class="footer__col__title">Company.</p>
                            <a class="footer__col__links" href="/about/">About</a>
                            <a class="footer__col__links" href="/principles/">Principles</a>
                            <a class="footer__col__links" href="/clients/">Client List</a>
                            <a class="footer__col__links" target="_blank" href="https://process.mad.co/">SOPs</a>
                            <a class="footer__col__links" href="/careers/">Careers</a>
                            <a class="footer__col__links" target="_blank" href="https://news.mad.co/">News</a>
                            <a class="footer__col__links" href="/contact/">Contact</a>
                            <a class="footer__col__links" href="https://drive.google.com/drive/u/0/folders/19cbdTzSCdSc1nDXqGE-NdtlbXHUb5sLy">Press Kit</a>
                        </li>
                        <li class="footer__col__wrapper">
                            <p class="footer__col__title">Services.</p>
                            <a class="footer__col__links" href="/services/">Everything</a>
                            <a class="footer__col__links" href="/services/ui/">User Interface Design</a>
                            <a class="footer__col__links" href="/services/ux/">User Experience Design</a>
                            <a class="footer__col__links" href="/services/websites/">Web Design</a>
                            <a class="footer__col__links" href="/services/corporate-identity-design/">Corporate Identity Design</a>
                            <a class="footer__col__links" href="/services/design-sprints/">Design Sprints</a>
                        </li>
                        <li class="footer__col__wrapper">
                            <p class="footer__col__title">Work.</p>
                            <a class="footer__col__links" href="/work/">Everything</a>
                            <a class="footer__col__links" href="/website-case-studies/">Web Design</a>
                            <a class="footer__col__links" href="/ux-ui-case-studies/">UX &amp; UI</a>
                            <a class="footer__col__links" href="/branding-case-studies/">Brand</a>
                            <a class="footer__col__links" href="/testimonials/">Testimonials</a>
                        </li>
                        <li class="footer__col__wrapper">
                            <p class="footer__col__title">Insights.</p>
                            <a class="footer__col__links" href="/insights/">Everything</a>
                            <a class="footer__col__links" href="/key-readings/">Key Readings</a>
                            <a class="footer__col__links" href="/long-form/">Long Form</a>
                            <a class="footer__col__links" href="/methods/">Methods</a>
                            <a class="footer__col__links" href="/guides/">Guides</a>
                            <a class="footer__col__links" href="/interviews/">Interviews</a>
                            <a class="footer__col__links" href="https://video.mad.co">Videos</a>
                        </li>
                        <li class="footer__col__wrapper">
                            <p class="footer__col__title">Products.</p>
                            <a class="footer__col__links" target="_blank" href="https://bloo.io/?via=workwithmad">Bloo</a>
                            <a class="footer__col__links" target="_blank" href="https://grow.mad.co">Grow</a>
                            <a class="footer__col__links" target="_blank" href="https://pixel.mad.co">Pïxel</a>
                            <a class="footer__col__links" target="_blank" href="https://boltflow.xyz/">Boltflow</a>
                            <a class="footer__col__links" target="_blank" href="https://millennialmoneymanagement.xyz/#/">M<sup>3</sup></a>
                        </li>
                    </ul>
                </div>
            </div>
        <div class="sub-footer">
            <p style="font-size: 14px; font-family: 'Libre Baskerville';"><strong> &copy; {{date format="YYYY"}} Mäd Creative, Inc. &mdash; <a href="https://process.mad.co/" target="_blank">Make It Happen.™</a></strong></p>
            <div class="social-links--footer">
                        {{#if @site.facebook}}
                            <a href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">
                                <span class="social-icon icon-facebook"></span>
                                {{!-- <img class="social-icon" src="https://cdn.blinkloader.com/express/g2tYbTr8aiIclVLhmDSnB7Ow3/facebook.svg" alt="Mäd Creative Facebook"> --}}
                            </a>
                        {{/if}}
                        <a href="https://www.instagram.com/workwithmad/" title="Instagram" target="_blank" rel="noopener">
                        <span class="social-icon icon-instagram"></span>
                                {{!-- <img class="social-icon" src="https://cdn.blinkloader.com/express/u0GMZKgEXrT6lXrJgEggLLsej/instagram.svg"> --}}
                        </a>
                        <a href="https://www.linkedin.com/company/m%C3%A4d" title="LinkedIn" target="_blank" rel="noopener">
                        <span class="social-icon icon-linkedin"></span>
                                {{!-- <img class="social-icon" src="https://cdn.blinkloader.com/express/u0GMZKgEXrT6lXrJgEggLLsej/instagram.svg"> --}}
                        </a>
                        {{#if @site.twitter}}
                        <a href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">Twitter</a>
                        {{/if}}
            </div>
        </div>
        </footer>