    <footer class="site-head">
        <div class="sub-footer">
            <p style="font-size: 14px; font-family: 'Libre Baskerville';"><strong> &copy; {{date format="YYYY"}} Mäd Creative, Inc. &mdash; <a href="https://process.mad.co/" target="_blank">Make It Happen.™</a></strong></p>
            <div class="social-links--footer">
                        {{#if @site.facebook}}
                            <a href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">
                                <span class="social-icon icon-facebook"></span>
                                {{!-- <img class="social-icon" src="https://cdn.blinkloader.com/express/g2tYbTr8aiIclVLhmDSnB7Ow3/facebook.svg" alt="Mäd Creative Facebook"> --}}
                            </a>
                        {{/if}}
                        <a href="https://www.instagram.com/workwithmad/" title="Instagram" target="_blank" rel="noopener">
                        <span class="social-icon icon-instagram"></span>
                                {{!-- <img class="social-icon" src="https://cdn.blinkloader.com/express/u0GMZKgEXrT6lXrJgEggLLsej/instagram.svg"> --}}
                        </a>
                        <a href="https://www.linkedin.com/company/m%C3%A4d" title="LinkedIn" target="_blank" rel="noopener">
                        <span class="social-icon icon-linkedin"></span>
                                {{!-- <img class="social-icon" src="https://cdn.blinkloader.com/express/u0GMZKgEXrT6lXrJgEggLLsej/instagram.svg"> --}}
                        </a>
                        {{#if @site.twitter}}
                        <a href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">Twitter</a>
                        {{/if}}
            </div>
        </div>
        </footer>