<header class="header-section">
	<div class="header-wrap">
		<div class="header-logo">
			{{#is "post, page, author, tag"}}
			{{#if @site.logo}}
			<a href="{{@site.url}}" class="is-image"><img src="{{@site.logo}}" alt="{{@site.title}}"></a>
			{{else}}
			<a href="{{@site.url}}" class="is-title">{{@site.title}}</a>
			{{/if}}
			{{else if @site.logo}}
			<h1 class="is-image"><a href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"></a></h1>
			{{else}}
			<h1 class="is-title"><a href="{{@site.url}}">{{@site.title}}</a></h1>
			{{/is}}
		</div>
		<div class="header-nav">
			<input id="toggle" class="header-checkbox" type="checkbox">
			<label class="header-toggle" for="toggle">
				<span>
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</span>
			</label>
			<nav>
				<ul>{{navigation}}</ul>
				<ul>
					<a class="mad-button" href="#">{{t "Visit Main Site"}}</a>
					{{!-- {{>members/login_panel}} --}}
					<li id="search-open" class="header-search"><span>{{t "Search"}}</span>{{>icons/site/search}}</li>
				</ul>
			</nav>
		</div>
	</div>
</header>