    {{!-- Email subscribe form at the bottom of the page --}}
    <section class="rfp-form">
        <br>
        <br>
        <hr>
        <h2>Request a Proposal.</h2>
        <p id="rfp-form-body">If you would like to <strong>#workwithmad </strong> then send us an email at <strong><a href="mailto:hi@mad.co?Subject=Work with Mäd enquiry">hi@mad.co</a></strong> and let's <strong>Make It Happen.™</strong></p>
    </section>