<!DOCTYPE html>
<html lang="{{@site.locale}}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{meta_title page=(t "meta-page")}}</title>
		<meta name="HandheldFriendly" content="True">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{>services/google_fonts}}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
		{{ghost_head}}
	</head>
	<body class="{{#is "post, page"}}{{body_class}}{{/is}}{{#get "tags" limit="all" filter="visibility:internal"}}{{#foreach tags visibility="internal"}} global-{{slug}}{{/foreach}}{{/get}}">
		<div class="global-wrap">
			<div class="global-content">
				{{>header}}
				<main class="global-main">
					{{{body}}}
					{{!-- {{>members/subscribe_form}} --}}
				</main>
				{{>footer}}
			</div>
		</div>
		{{!-- {{>members/notifications}} --}}
		{{>search}}
		<script src="{{asset "js/global.js"}}"></script>
		{{#if pagination.pages}}
		<script>var numberPaged = {{pagination.pages}};</script>
		<script src="{{asset "js/index.js"}}"></script>
		{{/if}}
		{{#is "post, page"}}
		<script src="{{asset "js/post.js"}}"></script>
		{{/is}}
		<script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
		<script>
  			// Accepts any class name
  			var rellax = new Rellax('.rellax');
		</script>
		{{{block "notifications_js"}}}
		{{{block "search_js"}}}
		{{{block "account_js"}}}
		{{ghost_foot}}
	</body>
</html>