<div class="membership-card free">
	<div class="membership-card-content">
		<h2 class="membership-card-title">{{t "Free"}}</h2>
		<h4 class="membership-card-price"><sup>{{price plan currency=@price.currency}}</sup>0</h4>
		<div class="membership-card-options">
			<ul>

				{{!-- Here you can add your feature list --}}

				<li>Full access to posts for subscribers</li>
				<li>Weekly email newsletter</li>
				<li>No advertising</li>
				
			</ul>
		</div>
	</div>
	<a href="{{@site.url}}/signup/" class="global-button">{{t "Subscribe now"}}</a>
</div>